
    * {
        /*background: #ffffff;*/
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        /*fonts*/
        --Mooli-fonts: 'Mooli', sans-serif;
        --Lato-fonts: 'Lato', sans-serif;
        --Fuggles: 'Fuggles', cursive;
        --Quicksand: 'Quicksand', sans-serif;
        --Orbitron: 'Orbitron', sans-serif;
        --NewsCycle: 'News Cycle', sans-serif;
        --Ubuntu: 'Ubuntu', sans-serif;

        /*color*/
        --White: #ffffff;
        --Blue: #18b7ff;
        --Dark-blue: #00008b;
        --Black: #1b1b1b;
        --Dark-Red: #8b0000;
    }

/*--###---NAV-BAR---------------------------------------------------------------------------------------------------*/
    nav {
        height: 200px;
        background: var(--White);
        margin-bottom: 30px;
    }

    nav img {
        width: 150px;
        position: absolute;
        top: 40px;
        left: 5%;
    }
     nav ul {
         float: right;
         margin-right: 6%;
         padding: 15px;
         margin-top: 40px;
     }

     nav ul li {
         display: inline-block;
         line-height: 100px;
         margin: 0 15px;
         list-style: none;
     }

     nav ul li a {
         position: relative;
         text-decoration: none;
         color: var(--Dark-blue);
         font-size: 18px;
         text-transform: uppercase;
         font-family: var(--NewsCycle);
         font-weight: 600;
         padding: 5px 0;
     }

     nav ul li a:before {
         position: absolute;
         content: '';
         left: 0;
         bottom: 0;
         height: 3px;
         width: 100%;
         background: yellow;
         transform: scaleX(0);
         transform-origin: right;
         transition: transform .45s linear;
     }

     nav ul li a:hover {
         color: var(--Black);
    }

    nav ul li a:hover:before {
        transform: scaleX(1);
        transform-origin: left;
    }


        /*--###---CONTACT-US------------------------------------------------------------------------------------------------*/

    #ContactUS {
        background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
    }

    .Contact-US {
        position: relative;
        width: 100%;
        padding: 40px 100px;
    }

    .Contact-US .Contact-US-Title {
        font-family: var(--NewsCycle);
        text-transform: capitalize;
        font-size: 1.8rem;
        color: var(--White);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
    }

    .Contact-box {
        position: relative;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: 5fr 4fr;
        grid-template-areas:
            "form info"
            "form map";
        grid-gap: 20px;
        margin-top: 20px;
    }

    .form {
        grid-area: form;
    }

    .info {
        grid-area: info;
    }

    .map {
        grid-area: map;
    }

    .Contact {
        padding: 40px;
        background: #f4f4f4;
        box-shadow: 0 5px 35px rgba(0,0,0,0.15) ;
    }

    .Contact-box h3 {
        text-transform: capitalize;
        font-family: var(--NewsCycle);
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .contBox {
        position: relative;
        width: 100%;
    }

    .contBox .row50 {
        display: flex;
        gap: 20px;
    }

    .inputBox {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        width: 50%;
    }

    .contBox .row100 .inputBox {
        width: 100%;
    }

    .inputBox span {
        color: var(--Dark-Red);
        font-family: var(--Ubuntu);
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .inputBox input {
        padding: 10px;
        font-size: 1rem;
        outline: none;
        border: 1px solid #444444;
    }

    .inputBox textarea {
        padding: 10px;
        font-size: 1rem;
        outline: none;
        border: 1px solid #444;
        min-height: 200px;
        resize: none;
        margin-bottom: 15px;
        font-family: var(--Ubuntu);
    }

    .inputBox input[type="submit"] {
        background: var(--Black);
        color: var(--White);
        font-family: var(--Ubuntu);
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        font-size: 1.2rem;
    }

    .inputBox::placeholder {
        color: #333;
    }

    .info {
        /*background: #f0f8ff;*/
    }

    .info .infoBox div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .info .infoBox div span {
        min-width: 40px;
        margin-right: 15px;
        height: 40px;
        color: var(--White);
        background: var(--Dark-Red);
        display: flex;
        font-size: 1.1rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
    }

    .info .infoBox div span:hover {
        color: var(--Dark-blue);
        background: var(--White);
    }

    .info .infoBox div p {
        color: var(--Black);
        font-family: var(--NewsCycle);
        font-weight: 600;
        font-size: 1.1rem;
    }

    .info .infoBox div a {
        color: var(--Black);
        font-weight: 600;
        text-decoration: none;
        font-size: 1.1rem;
        font-family: var(--NewsCycle);
    }

    .social-media-icons {
        font-size: 2rem;
        margin-top: 40px;
        display: flex;
    }

    .social-media-icons li {
        list-style: none;
        margin-right: 20px;
    }

    .social-media-icons li a {
        color: var(--Black);
    }

    .social-media-icons li a:hover {
        color: var(--Dark-blue);
    }

    .map {
        padding: 0;
    }

    .map iframe {
        width: 100%;
        height: 100%;
    }


    