
    * {
        /*background: #ffffff;*/
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        /*fonts*/
        --Mooli-fonts: 'Mooli', sans-serif;
        --Lato-fonts: 'Lato', sans-serif;
        --Fuggles: 'Fuggles', cursive;
        --Quicksand: 'Quicksand', sans-serif;
        --Orbitron: 'Orbitron', sans-serif;
        --NewsCycle: 'News Cycle', sans-serif;
        --Ubuntu: 'Ubuntu', sans-serif;
        --Montserrat: 'Montserrat', sans-serif;
        --Poppins: 'Poppins', sans-serif;;

        /*color*/
        --White: #ffffff;
        --White_2: #faf9f6;
        --Blue: #18b7ff;
        --Dark-blue: #00008b;
        --Black: #1b1b1b;
        --Dark-Red: #8b0000;
    }

    html {
        scroll-behavior: smooth;
    }

/*--###---NAV-BAR----------------------------------------------------------------------------------------------------*/
    nav {
        height: 110px;
        background: var(--White);
        margin-bottom: 20px;
    }

    nav img {
        width: 120px;
        position: absolute;
        top: 50px;
        left: 5%;
        cursor: pointer;
    }
     nav ul {
         float: right;
         margin-right: 6%;
         padding: 15px;
         margin-top: 40px;
     }

     nav ul li {
         display: inline-block;
         line-height: 100px;
         margin: 0 15px;
         list-style: none;
     }

     nav ul li a {
         position: relative;
         text-decoration: none;
         color: var(--Dark-blue);
         font-size: 18px;
         text-transform: uppercase;
         font-family: var(--NewsCycle);
         font-weight: 600;
         padding: 5px 0;
     }

     nav ul li a:before {
         position: absolute;
         content: '';
         left: 0;
         bottom: 0;
         height: 3px;
         width: 100%;
         background: #18b7ff;
         transform: scaleX(0);
         transform-origin: right;
         transition: transform .45s linear;
     }

     nav ul li a:hover {
         color: var(--Black);
    }

    nav ul li a:hover:before {
        transform: scaleX(1);
        transform-origin: left;
    }

/*--###---BLOG-------------------------------------------------------------------------------------------------------*/

    .sec-blog {
        background: var(--White);
        margin-top: 120px;
        margin-bottom: 100px;
    }

    #blog {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }

    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .heading span {
        color: var(--Dark-blue);
        text-transform: uppercase;
        font-family: var(--NewsCycle);
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .heading h3 {
        padding: 5px;
        font-family: var(--Ubuntu);
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #03a9f5;
    }

    .blog_cont {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        flex-wrap: wrap;
    }

    .box {
        width: 300px;
        background-color: var(--White);
        border: 1px solid #ececec;
        margin: 20px;
    }

    .box-img {
        height: auto;
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .text {
        padding: 30px;
        display: flex;
        flex-direction: column;
        font-family: var(--Ubuntu);
        font-weight: 600;
    }

    .text span {
        color: var(--Dark-Red);
        font-size: 1rem;
        text-transform: uppercase;
        font-family: var(--NewsCycle);
        margin-bottom: 8px;
    }

    .text .title {
        font-family: var(--Ubuntu);
        color: var(--Dark-blue);
        text-decoration: none;
        margin-bottom: 5px;
    }

    .text .title:hover {
        transition: all ease 0.5s;
        color: var(--Blue);
    }

    .text p {
        font-size: 16px;
        font-family: var(--Poppins);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 20px 0;
        color: rgb(75,80,80);
    }

    .read_more {
        text-transform: uppercase;
        text-decoration: none;
        background: var(--Dark-blue);
        max-width: fit-content;
        padding: 5px 10px;
        color: var(--White);
        border-radius: 5px;
        font-family: var(--Ubuntu);
    }

    .read_more:hover {
        transition: all ease 0.5s;
        color:var(--Dark-blue);
        background: yellow;
    }

    .fa-solid {
        color: var(--Black);
    }

/*--###---CONTACT-US-------------------------------------------------------------------------------------------------*/

    #ContactUS {
        background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
    }

    .Contact-US {
        position: relative;
        width: 100%;
        padding: 40px 100px;
    }

    .Contact-US .Contact-US-Title {
        font-family: var(--NewsCycle);
        text-transform: capitalize;
        font-size: 1.8rem;
        color: var(--White);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
        font-weight: 600;
    }

    .Contact-box {
        position: relative;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: 5fr 4fr;
        grid-template-areas:
            "form info"
            "form map";
        grid-gap: 20px;
        margin-top: 20px;
    }

    .form {
        grid-area: form;
    }

    .info {
        grid-area: info;
    }

    .map {
        grid-area: map;
    }

    .Contact {
        padding: 40px;
        background: #f4f4f4;
        box-shadow: 0 5px 35px rgba(0,0,0,0.15) ;
    }

    .Contact-box h3 {
        text-transform: capitalize;
        font-family: var(--NewsCycle);
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .contBox {
        position: relative;
        width: 100%;
    }

    .contBox .row50 {
        display: flex;
        gap: 20px;
    }

    .inputBox {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        width: 50%;
    }

    .contBox .row100 .inputBox {
        width: 100%;
    }

    .inputBox span {
        color: var(--Dark-Red);
        font-family: var(--Ubuntu);
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .inputBox input {
        padding: 10px;
        font-size: 1rem;
        outline: none;
        border: 1px solid #444444;
    }

    .inputBox textarea {
        padding: 10px;
        font-size: 1rem;
        outline: none;
        border: 1px solid #444;
        min-height: 200px;
        resize: none;
        margin-bottom: 15px;
        font-family: var(--Ubuntu);
    }

    .inputBox input[type="submit"] {
        background: var(--Black);
        color: var(--White);
        font-family: var(--Ubuntu);
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        font-size: 1.2rem;
    }

    .inputBox::placeholder {
        color: #333;
    }

    .info {
        /*background: #f0f8ff;*/
    }

    .info .infoBox div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .info .infoBox div span {
        min-width: 40px;
        margin-right: 15px;
        height: 40px;
        color: var(--Blue);
        background: var(--Black);
        display: flex;
        font-size: 1.1rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
    }

    .info .infoBox div span i {
        color: #03a9f5;
    }

    .info .infoBox div span:hover {
        color: var(--Dark-blue);
        background: var(--White);
    }

    .info .infoBox div p {
        color: var(--Black);
        font-family: var(--NewsCycle);
        font-weight: 600;
        font-size: 1.1rem;
    }

    .info .infoBox div a {
        color: var(--Black);
        font-weight: 600;
        text-decoration: none;
        font-size: 1.1rem;
        font-family: var(--NewsCycle);
    }

    .social-media-icons {
        font-size: 1.5rem;
        margin-top: 40px;
        display: flex;
    }

    .social-media-icons li {
        list-style: none;
        margin-right: 20px;
    }

    .social-media-icons li a {
        color: var(--Black);
    }

    .social-media-icons li a:hover {
        color: var(--Dark-blue);
    }

    .map {
        padding: 0;
    }

    .map iframe {
        width: 100%;
        height: 100%;
    }

    /*hr {*/
    /*    display: block;*/
    /*    margin-top: 4.5em;*/
    /*    margin-bottom: 0.5em;*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*    border-style: inset;*/
    /*    border-width: 1px;*/
    /*}*/

/*--###---BANNER-----------------------------------------------------------------------------------------------------*/

    .banner-sec {
        width: 100%;
    }

    .banner-sec-image {
        width: 100%;
        position: relative;
    }
    .banner-sec-image img {
        width: 100%;
    }

    .banner-sec-text {
        position: absolute;
        top: 52%;
        left: 6%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform:translateY(-50%);
        transform: translateY(-50%);
    }

    .banner-sec-text strong {
        font: 800 63px/70px var(--Montserrat);
        color: var(--Black);
        text-transform: uppercase;
    }

    .banner-sec-text strong span {
        font: 800 63px/70px var(--Montserrat);
        letter-spacing: 4px;
    }

    .banner-sec-text p {
        font: 400 25px/30px var(--Poppins);
        color: var(--White_2);
        margin: 8px 0 25px;
        font-weight: 600;
        background: var(--Blue);
        padding: 5px 10px;
    }

    .banner-sec-text a {
        display: inline-block;
        font: 18px var(--Quicksand);
        background: var(--Black);
        border-radius: 50px;
        color: var(--White_2);
        padding: 10px 30px;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
    }

    .banner-sec-text a:hover {
        background: var(--Dark-Red);
        color: var(--White_2);

    }


/*--###---FOOTER-----------------------------------------------------------------------------------------------------*/

    .foot-sec {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        background: #f4f4f4;
        padding-top: 150px;
        color: var(--White_2);
    }

    footer {
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100px;
        background: #111111;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer .footer-con {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 100px;

    }

    footer .footer-con .sec {
        margin-right: 30px;
    }

    footer .footer-con .sec.about-us {
        width: 40%;
    }

    footer .footer-con .sec.about-us h2 {

    }